[Unit]
Description=Docker aws ecr login
Wants=network-online.target
After=network.target network-online.target docker.service
Requires=docker.service

[Service]
Type=oneshot
User=root
Group=root
ExecStart=/etc/systemd/system/ecr-login.sh

[Install]
WantedBy=default.target
